:root {
  --primary-color: #1db954;
  --secondary-color: #333;
  --tertiary-color: #fff;
  --quaternary-color: #000;
  --primary-hoover-color: #20c459;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}

.card {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.card-title,
.form-label,
.alert,
a {
  color: var(--tertiary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-hoover-color) !important;
  border-color: var(--primary-hoover-color) !important;
}

.hr-green {
  border-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.nav-link.active {
  background-color: var(--primary-color) !important;
  color: var(--tertiary-color) !important;
}

.nav-link {
  color: var(--tertiary-color) !important;
}

.nav-link:hover {
  color: var(--tertiary-color) !important;
}

.text-light {
  color: var(--tertiary-color) !important;
}
